<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Buscar</h1>
    <form action="/lista_propiedades" >
        <h1>Buscar persona</h1>

        <p> Ingrese el número de cédula de la persona para buscar sus propiedades asociadas</p>

        <div
            Cédula: <input type="text" name="cedula" required>
        </div>
        <div>
            <input type="submit" value="Buscar">
        </div>
    </form>
</body>

</html>